html {
  font-size: 10px;
  font-family: Open Sans;
}


    #target {
      width: 512px;
      height: 256px;
      position: absolute;
      background: rgba(255,255,0,0.3);
    }
    #htmlTarget.hide {
      z-index: -1;
    }
    #target h1 {
      font-family: Arial;
      font-size: 110px;
      margin: 0;
      vertical-align: top;
      color: white;
    }
    #target h1 span {
      color: tomato;
    }
    #emoji {
      position: absolute;
      font-size: 512px;
      color: mediumTurquoise;
      font-style: serif;
    }
    #pre {
      font-family: monospace;
      margin: 0;
      padding: 0;
      height: 50px;
      font-size: 50px;
      background: royalblue;
      color: tomato;
    }
    #htmlTarget {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    #debug {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    @media (max-width: 512px) {
      #target {
        width: 256px;
        height: 126px;
      }
      #target h1 {
        font-size: 55px;
      }
      #pre {
        height: 50px;
        font-size: 25px;
      }
      #emoji {
        position: absolute;
        font-size: 256px;
        color: mediumTurquoise;
      }
    }
    body[data-vr="true"] .novr{
      display: none;
    }

.splash-screen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
}

/* nav */
.nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
  font-size: 110px;
  font-weight: bold;
  width: 512px;
  height: 256px;
  color: white;
  background-color: black;
  opacity: 0.6;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
}

/* notifications */
.notifications li {
  list-style: none;
  width: 20rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
}

#lorem, #lorem2 {
  position: absolute;
  top: 0;
  width: 512px;
  height: 512px;
  font-size: 50px;
  color: white;
  padding: 50px;
  /*background-color: rgba(1, 1, 1, 0.5);*/
}

#lorem.detail, #lorem2.detail {
  width: 1024px;
  height: 1024px;
}

.background-sci-fi {
  background-color: rgba(67, 112, 139, 0.7);
}

.background-sci-fi-light {
  background-color: rgba(109, 183, 197, 0.7);
}