html {
  font-size: 10px;
  font-family: Open Sans;
}

.texture {
  position: absolute;
  top: 0;
  width: 512px;
  height: 512px;
}

.texture.detail {
  width: 1024px;
  height: 1024px;
}

.background-sci-fi {
  background-color: rgba(67, 112, 139, 0.7);
}

.background-sci-fi-light {
  background-color: rgba(109, 183, 197, 0.7);
}

.background-white {
  background-color: #fff;
}

.splash-screen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
}

/* nav */
.nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
  font-size: 110px;
  font-weight: bold;
  width: 512px;
  height: 256px;
  color: white;
  background-color: black;
  opacity: 0.6;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
}

/* notifications */
.notifications li {
  list-style: none;
  width: 20rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
}

#lorem, #short-lorem {
  font-size: 50px;
  color: white;
  padding: 50px;
  /*background-color: rgba(1, 1, 1, 0.5);*/
}

#foxkeh {
  font-size: 50px;
  padding: 50px;
}

#foxkeh > img {
  margin-bottom: 50px;
}

#foxkeh.detail {
  background-color: #fff;
}

#aframe {
  background: #ef2d5e;
  height: 84px;
  width: 223px;
/*  padding-top: 20px;
  padding-left: 20px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#aframe > span {
  /*background: url("../img/aframe-name-white.svg") no-repeat;*/
  /*display: block;*/
/*  height: 31px;
  width: 100px;*/
  /*text-indent: -9999px;*/
  color: white;
  font-size: 40px;
}
